#bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Kepek/bluelake.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(4px);
}
#content{
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 80vh;
    max-width: 90vw;
    overflow-y: auto; /* for this time i will stick with this, but in the future you might wanna try make it, a bit different, but okay*/
    scrollbar-width: none;
    width: 1250px;
    background-color: rgba(0, 0 , 0, 0.6);
    color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#content input{
    width: 25%;
    height: 25%;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

#content button{
    width: 15%;
    height: 25%;
    margin: 20px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}

.popupOverlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.popupContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.popupContent button{
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}