#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    padding: 10px 0;
    z-index: 2;
}

#menu-logo{
    height: 25px;
    margin-right: 30px;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu ul li{
    margin: 0 20px;
}

#menu ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

#menu ul li a:hover{
    color: #00aaff;
}

#menu button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    width: auto;
    height: 100%;
}

/* little upper than the rest but it is minimal error, maybe it is with the vertical align */
#menu select{
    width: auto;
    font-size: 12px;
    height: 26px !important;
    line-height: 26px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    text-align-last: center;
    vertical-align: middle;
}

/*
.menuButtonSignInLogIn{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: 5px;
    font-size: 14px;
    width: auto;
    height: 100%;
}
 */

.searchBox{
    margin-left: auto;
    margin-right: 5px;
}

.searchBox input{
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropBtn{
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    z-index: 1001;
    border: 1px solid #444;
    border-radius: 5px;
}

.dropdownContent a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdownContent a:hover{
    background-color: #444;
    color: #00aaff;
}

.dropdown:hover .dropdownContent{
    display: block;
}